<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://kit.fontawesome.com/acc1e7032e.js" crossorigin="anonymous"></script>
  <title>URL Shortener</title>
</head>

<header>
  <div class="container">
    <h1><a href="/" class="title">URL SHORTENER</a></h1>
    <img src="image/top_img.png" alt=""
      class="top-img">

    
    <form action="/shorten" class="input-container">
      <input required="" name="url" type="url" class="input-url" placeholder="Input your URL">
      <button type="submit" class="shorten-btn">Shorten</button>
    </form>      
    

  </div>
</header>

<body>
  
  {{{body}}}

  <script src="/javascripts/main.js"></script>  
</body>

</html>