<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://kit.fontawesome.com/acc1e7032e.js" crossorigin="anonymous"></script>
  <title>URL Shortener</title>
</head>

<header>
  <div class="container">
    <h1>URL SHORTENER</h1>
    <img src="image/top_img.png" alt=""
      class="top-img">

    <div class="input-container">
      <input required="" type="url" class="input-url" placeholder="Input your URL">
      <button class="shorten-btn">Shorten</button>
    </div>

  </div>
</header>

<body>
  
  {{{body}}}
    
</body>

</html>