<div class="container">
  <div class="result">

    <h3>Your URL:</h3>
    <div class="copy-area">
      <input type="url" value="{{shortUrl}}" class="shortened-url" id="short-url">
      <button onclick="copyUrl()" class="copy-btn"><i class="fa-solid fa-copy"></i></button>
    </div>

  </div>
</div>